@-webkit-keyframes fade-in {
  0% {
    opacity: 0; } }

@keyframes fade-in {
  0% {
    opacity: 0; } }

@-webkit-keyframes fade-out {
  100% {
    opacity: 0; } }

@keyframes fade-out {
  100% {
    opacity: 0; } }

.details {
  padding: 2.618rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto; }
  .details__image {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    min-width: 400px;
    height: 400px;
    z-index: 1; }
  .details__table-container {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: scroll; }
  .details__table {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.frame {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .frame__body {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .frame--normal {
    background: #ECF0F1; }
  .frame--fire {
    background: #E47E30; }
  .frame--grass {
    background: #A6C446; }
  .frame--water {
    background: #3A99D8; }
  .frame--ice {
    background: #B9CAF0; }
  .frame--electric {
    background: #FECC2F; }
  .frame--poison {
    background: #5D355D;
    color: white; }
  .frame--ground {
    background: #EFDDB6; }
  .frame--bug {
    background: #ED727C; }
  .frame--psychic {
    background: #9A5CB4; }
  .frame--fighting {
    background: #3C6F80; }
  .frame--ghost {
    background: #2B2B2B;
    color: white; }
  .frame--rock {
    background: #5D4535;
    color: white; }
  .frame--dragon {
    background: #E54D42; }

.icon {
  display: inline-block;
  margin: 1rem;
  vertical-align: top;
  width: 7.5rem;
  height: 10rem;
  overflow: visible;
  text-decoration: none; }

.image-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .image-container__image {
    min-height: 120px;
    min-width: 120px;
    z-index: 1; }

.label {
  display: block;
  padding: 0.618rem 0;
  color: white;
  font-weight: 900;
  font-size: 0.618rem;
  text-align: center;
  text-transform: uppercase;
  z-index: 2; }
  .label--huge {
    display: block;
    padding: 2.618rem;
    text-align: center;
    color: white;
    font-size: 2.618rem;
    text-decoration: none; }
  .label--normal {
    background: #BDC3C7; }
  .label--fire {
    background: #D15419; }
  .label--grass {
    background: #8FAF30; }
  .label--water {
    background: #2F81B7; }
  .label--ice {
    background: #9AACD3; }
  .label--electric {
    background: #FDA729; }
  .label--poison {
    background: #4E2C4E; }
  .label--ground {
    background: #D4C197; }
  .label--bug {
    background: #D7555C; }
  .label--psychic {
    background: #8D48AB; }
  .label--fighting {
    background: #376271; }
  .label--ghost {
    background: #262626; }
  .label--rock {
    background: #503B2D; }
  .label--dragon {
    background: #BE3A31; }

.link-view {
  -webkit-animation: 0.6s fade-in ease-in;
  animation: 0.6s fade-in ease-in; }
  .link-view--leaving {
    -webkit-animation: 0.6s fade-out ease-in;
    animation: 0.6s fade-out ease-in; }

.search {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  border: 0;
  width: 100%;
  font: 400 1.618rem "Helvetica", "Arimo", "Arial", "sans";
  background: #ECF0F1;
  color: #7F8C8D; }

.table {
  font: 1.618rem "Helvetica", "Arimo", "Arial", "sans";
  border: 0;
  border-spacing: 1rem;
  vertical-align: top; }
  .table__title {
    font-weight: 100;
    text-align: right; }
  .table__value {
    font-weight: 700; }

.view {
  position: fixed;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

body {
  margin: 0;
  font-family: "Helvetica", "Arimo", "Arial", "sans"; }
