.image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__image {
		// When viewing non-locally on Safari 8, an image would load with dimensions 0x0, despite being preloaded. This would cause the animation to transition the images down to zero-size, then flicker back to the actual size.
		min-height: 120px;
		min-width: 120px;
		z-index: 1;
	}
}
