@import 'image';
@import 'details-container';

.details {
	padding: $mod-2;
	display: flex;
	overflow-y: auto;

	&__image {
		@extend .image;
		align-self: center;
		min-width: 400px;
		height: 400px;
		z-index: 1;
	}

	&__details-container {
		@extend .details-container;
		flex: 1;
	}
}
