$font-family: 'Helvetica', 'Arimo', 'Arial', 'sans';

$mod-0: 1rem;
$mod-1: 1.618rem;
$mod-2: 2.618rem;

@import 'pokemon/_animations';

@import 'pokemon/details';
@import 'pokemon/frame';
@import 'pokemon/icon';
@import 'pokemon/image-container';
@import 'pokemon/label';
@import 'pokemon/link-view';
@import 'pokemon/search';
@import 'pokemon/table';
@import 'pokemon/view';

body {
	margin: 0;
	font-family: $font-family;
}
